body {
    font-family: Montserrat;
    background-color: turquoise;
}
 
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
}

.title {
    margin: 0;
    margin-bottom: 10px;
}

input {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    font-family: Montserrat;
}

button {
    padding: 10px;
    border-radius: 10px;
}

.container .todoList {
    max-height: 240px;
    overflow-y: auto;
}

.todoList {
    padding-inline-start: 0px;
}

.todoList li {
    list-style: none;
    line-height: 40px;
    background-color: thistle;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 0 15px;
}

.todoList li i {
    float: right;
    margin-left: 3px;
    
}
.todoList li button {
    float: right;
    margin-left: 3px;
}

.todoList li.done {
    text-decoration: line-through;
}

.todoList li.margin {
    margin-bottom: 45px;
}
